body {
  background-color: black;
  color: gray;
}

.convoElement {
  display: none;
}

span {
  display: none;
}

.convoElement>button {
  display: none;
}

.outputSection {
  padding: 30px;
  height: auto;
}

#output {
  margin: 0 auto;
  color: white;
}

.hal {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.hal img {
  width: 100%;
  transform:
    translateX(calc(var(--posx) * .1px))
    translateY(calc(var(--posy) * .1px));
}
